* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
}

h1, h2 {
    font: bold 24px Impact;
    text-align: center;
    margin: 30px auto;
}

h1 {
    font-size: 32px;
}

.text-bold {
    font-weight: bold;
}

.text-red {
    color: red;
}

p, ul {
    font: 18px Arial, sans-serif;
    line-height: 150%;
}

p.img-description {
    font-style: italic;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

img {
    max-width: 80%;
    display: block;
    margin: 20px auto;
}